body{
  margin: 0 10px 0 10px;
  min-height: 100vh;
  position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

header{
  width: 1200px;
  margin: 0 auto 0 auto;
}

header .eurocasa-logo{
  padding-top: 70px;
  width: 350px;
}

header nav ul{
  width: 100%;
  padding: 0;
}

header nav ul li{
  display: inline;
  list-style: none;
  padding-right: 18px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

header nav ul li a{
  text-decoration: none;
  color: #000;
}

header nav ul li .homeBtn{
  color: #989898;
}

header nav ul li a:hover{
  color: #989898;
}

.secA{
  width: 1200px;
  margin: 0 auto 0 auto;
}

.secA .secAimg{
  margin: 25px 0 0 0;
  width: 1200px;
}

.secA .secAimg img{
  width: 100%;
}

.secA .secAtxt{
  width: 380px;
  margin: 0 0 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.secA .secAtxt h1{
  margin: 10px 0 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.secA .secAtxt p{
  margin: 0 0;
  color: #989898;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.secB{
  width: 1200px;
  margin: 10px auto 10px auto;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.secB .img01{
  grid-column: 1/3;
  grid-row: 1;
}

.secB .img01 img{
  width: 100%;
}

.secB .img02{
  grid-column: 3/5;
  grid-row: 1;
  position: relative;
}

.secB .img02 img{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.secB .img03{
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

.secB .img03 img{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.secB .img04{
  grid-column: 3/5;
  grid-row: 2;
}

.secB .img04 img{
  width: 100%;
}

.secB .img05{
  grid-column: 1/3;
  grid-row: 3;
}

.secB .img05 img{
  width: 100%;
}

.secB .img06{
  grid-column: 3/5;
  grid-row: 3;
  position: relative;
}

.secB .img06 img{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.secB .img07{
  grid-column: 1;
  grid-row: 4;
}

.secB .img07 img{
  width: 100%;
}

.secB .img08{
  grid-column: 3/5;
  grid-row: 4;
}

.secB .img08 img{
  width: 100%;
}

.secB .img09{
  grid-column: 1/5;
  grid-row: 5;
}

.secB .img09 img{
  width: 100%;
}

.secB .img10{
  grid-column: 1/3;
  grid-row: 6;
}

.secB .img10 img{
  width: 100%;
}

.secB .img11{
  grid-column: 3/5;
  grid-row: 6;
}

.secB .img11 img{
  width: 100%;
}

footer{
  width: 1200px;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  padding: 15px 0 15px 0;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer .eurocasa-logo2{
  grid-column: 1;
  grid-row: 1/3;
}

footer .eurocasa-logo2 img{
  width: 80%;
  padding-top: 18px;
}

footer .footerNav{
  grid-column: 2/8;
  grid-row: 1;
}

footer nav ul{
  width: 100%;
  padding: 0;
  margin: 0;
}

footer nav ul li{
  display: inline;
  list-style: none;
  padding-right: 15px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

footer nav ul li a{
  text-decoration: none;
  color: #000;
}

footer nav ul li a:hover{
  color: #989898;
}

footer .footer01{
  margin: 0;
  grid-column: 2/8;
  grid-row: 2;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #989898;
}

footer .footer02{
  margin: 0;
  grid-column: 2/8;
  grid-row: 3;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #989898;
}
