body{
  margin: 0 10px 0 10px;
  min-height: 100vh;
  position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

header{
  width: 1200px;
  margin: 0 auto 0 auto;
}

header .eurocasa-logo{
  padding-top: 70px;
  width: 350px;
}

header nav ul{
  width: 100%;
  padding: 0;
}

header nav ul li{
  display: inline;
  list-style: none;
  padding-right: 18px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

header nav ul li a{
  text-decoration: none;
  color: #000;
}

header nav ul li .productsBtn{
  color: #989898;
}

header nav ul li a:hover{
  color: #989898;
}

.secA{
  width: 1200px;
  margin: 0 auto 0 auto;
  padding-bottom: 150px;
}

.secA .categoryNav{
  position: relative;
}

.secA .categoryNav ul{
  position: fixed;
  top: 190px;
  width: 100px;
  margin: 0;
  padding: 0;
  border-left: 1px solid #000;
}

.secA .categoryNav ul li{
  padding-left: 10px;
  list-style: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 2em;
}

.secA .categoryNav ul li a{
  text-decoration: none;
  color: #000;
}

.secA .categoryNav ul li a:hover{
  color: #989898;
}

.secA .categoryNav ul .sofaBtn{
  color: #989898;
}

.secA .productList{
  margin-left: 100px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.secA .productList div{

}

.secA .productList div img{
  width: 100%;
}

footer{
  width: 1200px;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  padding: 15px 0 15px 0;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer .eurocasa-logo2{
  grid-column: 1;
  grid-row: 1/3;
}

footer .eurocasa-logo2 img{
  width: 80%;
  padding-top: 18px;
}

footer .footerNav{
  grid-column: 2/8;
  grid-row: 1;
}

footer nav ul{
  width: 100%;
  padding: 0;
  margin: 0;
}

footer nav ul li{
  display: inline;
  list-style: none;
  padding-right: 15px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

footer nav ul li a{
  text-decoration: none;
  color: #000;
}

footer nav ul li a:hover{
  color: #989898;
}

footer .footer01{
  margin: 0;
  grid-column: 2/8;
  grid-row: 2;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #989898;
}

footer .footer02{
  margin: 0;
  grid-column: 2/8;
  grid-row: 3;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #989898;
}
