body{
  margin: 0 10px 0 10px;
  min-height: 100vh;
  position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

header{
  width: 1200px;
  margin: 0 auto 0 auto;
}

header .eurocasa-logo{
  padding-top: 70px;
  width: 350px;
}

header nav ul{
  width: 100%;
  padding: 0;
}

header nav ul li{
  display: inline;
  list-style: none;
  padding-right: 18px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

header nav ul li a{
  text-decoration: none;
  color: #000;
}

header nav ul li .showroomBtn{
  color: #989898;
}

header nav ul li a:hover{
  color: #989898;
}

.secA{
  width: 1200px;
  margin: 0 auto 0 auto;
}

.secA .map{
  margin: 25px 0 0 0;
  width: 1200px;
}

.secA .secAtxt{
  width: 595px;
  margin: 0 auto 0 0;
  font-family: 'Open Sans', sans-serif;
}

.secA .secAtxt h1{
  margin: 10px 0 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.secA .secAtxt p{
  margin: 0 0;
  color: #989898;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

footer{
  width: 1200px;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  padding: 15px 0 15px 0;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer .eurocasa-logo2{
  grid-column: 1;
  grid-row: 1/3;
}

footer .eurocasa-logo2 img{
  width: 80%;
  padding-top: 18px;
}

footer .footerNav{
  grid-column: 2/8;
  grid-row: 1;
}

footer nav ul{
  width: 100%;
  padding: 0;
  margin: 0;
}

footer nav ul li{
  display: inline;
  list-style: none;
  padding-right: 15px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

footer nav ul li a{
  text-decoration: none;
  color: #000;
}

footer nav ul li a:hover{
  color: #989898;
}

footer .footer01{
  margin: 0;
  grid-column: 2/8;
  grid-row: 2;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #989898;
}

footer .footer02{
  margin: 0;
  grid-column: 2/8;
  grid-row: 3;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #989898;
}
